.our-barbers-section {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 102px 0px;
        gap: 20px;
        background: #F7F7F7
    }
    h3 svg {
        background: #303030;
        transform: rotate(90deg);
    }
    &__list{
        display: flex;
        gap: 30px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.barber-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__title {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #303030;
    }    
    &__description {
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FF6C00;
    }
}

.social-media-icon {
    &__list {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    &__item {
        width: 44px;
        height: 44px;
        background-color: #FFFFFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a {
        color: #303030;
        &:hover{
            color: #FF6C00;
        }
    }
    svg {
        fill: currentColor;
    }
}

